/* line 10, ../sass/typography.sass */
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
/* line 13, ../sass/typography.sass */
p small {
  font-size: 12px;
  color: #bfbfbf;
}

/* line 20, ../sass/typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #404040;
}
/* line 23, ../sass/typography.sass */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #bfbfbf;
}

/* line 27, ../sass/typography.sass */
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
/* line 31, ../sass/typography.sass */
h1 small {
  font-size: 18px;
}

/* line 35, ../sass/typography.sass */
h2 {
  font-size: 24px;
  line-height: 36px;
}
/* line 38, ../sass/typography.sass */
h2 small {
  font-size: 14px;
}

/* line 42, ../sass/typography.sass */
h3, h4, h5, h6 {
  line-height: 36px;
}

/* line 45, ../sass/typography.sass */
h3 {
  font-size: 18px;
}
/* line 47, ../sass/typography.sass */
h3 small {
  font-size: 14px;
}

/* line 51, ../sass/typography.sass */
h4 {
  font-size: 16px;
}
/* line 53, ../sass/typography.sass */
h4 small {
  font-size: 12px;
}

/* line 57, ../sass/typography.sass */
h5 {
  font-size: 14px;
}

/* line 60, ../sass/typography.sass */
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}

/* line 71, ../sass/typography.sass */
ul, ol {
  margin: 0 0 18px 25px;
}

/* line 74, ../sass/typography.sass */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 80, ../sass/typography.sass */
ul {
  list-style: disc;
}

/* line 83, ../sass/typography.sass */
ol {
  list-style: decimal;
}

/* line 86, ../sass/typography.sass */
li {
  line-height: 18px;
  color: gray;
}

/* line 90, ../sass/typography.sass */
ul.unstyled {
  list-style: none;
  margin-left: 0;
}

/* line 96, ../sass/typography.sass */
dl {
  margin-bottom: 18px;
}
/* line 98, ../sass/typography.sass */
dl dt, dl dd {
  line-height: 18px;
}
/* line 101, ../sass/typography.sass */
dl dt {
  font-weight: bold;
}
/* line 104, ../sass/typography.sass */
dl dd {
  margin-left: 9px;
}

/* line 113, ../sass/typography.sass */
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}

/* line 120, ../sass/typography.sass */
strong {
  font-style: inherit;
  font-weight: bold;
}

/* line 124, ../sass/typography.sass */
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}

/* line 129, ../sass/typography.sass */
.muted {
  color: #bfbfbf;
}

/* line 134, ../sass/typography.sass */
blockquote {
  margin-bottom: 18px;
  border-left: 5px solid #eeeeee;
  padding-left: 15px;
}
/* line 138, ../sass/typography.sass */
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
}
/* line 142, ../sass/typography.sass */
blockquote small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #bfbfbf;
}
/* line 146, ../sass/typography.sass */
blockquote small:before {
  content: "\2014 \00A0";
}

/* line 150, ../sass/typography.sass */
address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px;
}

/* line 157, ../sass/typography.sass */
code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 163, ../sass/typography.sass */
code {
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}

/* line 167, ../sass/typography.sass */
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
