@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "vars"

$width: 300px

html, body
  background-color: white
  font-family: Tahoma, Helvetica, Verdana, sans-serif
  font-size: 16px

header
  +clearfix
  margin-bottom: 10px

#container
  margin: 0 auto
  margin-top: 100px
  width: $width
  top: 100px


#main
  border-top: 1px solid $grayLight
  border-bottom: 1px solid $grayLight
  padding: 20px 0

a, a:hover, a:visited
  color: #2B82AD
  font-size: 14px

.homepage
  #logo
    background-image: url(/img/logo.jpg)
    margin: 0 auto
    width: 300px
    height: 240px
  #container
    width: $width

.company
  +border-radius
  header
    h1
      float: left
      width: $width * 1.5 - 60
      margin-bottom: 0
  #logo
    float: left
    background-image: url(/img/logo_50.jpg)
    margin: 0 auto
    width: 50px
    height: 40px
  #container
    width: $width * 1.5
